<%- include('../partials/header') %>

<section style="padding: 50px;">
  <h2>Home Appliances</h2>
  <p>Explore refrigerators, washing machines, ACs and more for rent!</p>
</section>

<%- include('../partials/footer') %>
